.sign-up {

  .error {
    color: $danger;
    margin-top: 1rem;
  }

  input[type=submit] {
    margin-top: 32px;
  }

  .ng-valid[required] {
    //border-left: 5px solid #42A948;
  }

  .ng-invalid {
    //border-left: 5px solid #a94442;
  }
}
