.profile {
  ion-card-header {
    background-color: #F6F6F6;
    padding: 0;

    div {
      margin: auto;
    }

    h1 {
      font-weight: bold;
      margin: auto;
    }

  }

  p {
    font-weight: bold;
    white-space: initial;
    text-align: justify;
  }

  ion-avatar {
    border-radius: 7rem;
    box-shadow: 0px 0px 3px 0px;
  }

  img {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 8rem;
    padding: 3px;
  }
}
